body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color:#2e2e2e
}

h1 {
    margin-bottom: 40px;
    color: white
}

p {
    color: white
}

h3{
    display: inline-block;
    margin-right: 10px;
    color: white;
}

.remote {
    display: inline-block;
    padding: 20px;
    border: 4px solid #0d0101;
    border-radius: 30px;
    background-color: #0b1e42;
}

.row {
    margin: 10px 0;
}

button {
    width: 90px;
    height: 50px;
    font-size: 16px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    background-color: #2e2e2e;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.spacer {
    width: 80px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    visibility: hidden;
}
